#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  max-height: 570px;
  /* min-width: 300px; */
}
#closeModal{
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 5px;
}
#closeModal:hover{
  color: red;
}